@import "tailwindcss";

:root {
  --background: #020617;
  --foreground: #ffffff;
  --iqon-red: #E60023;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-iqon-red: var(--iqon-red);
  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
